<div class="flex-1">
  <%= render "application/navbar"%>
<div>

<article class="format lg:format-lg mt-5 px-5">
    <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Edit Item</h2>
    <%= render "form", item: @item %>
</article>