<div class="flex-1">
  <%= render "application/navbar"%>
<div>

<article class="format lg:format-lg">
  <div class="mx-auto mt-5 px-5">
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Items:</h2>

    <ul class="list-disc list-inside">
      <% @items.each do |item| %>
        <li class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
          <%= link_to item.title, item %>
        </li>
      <% end %>
    </ul>

    <button class="text-white mt-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      <%= link_to "New Item", new_item_path %>
    </button>
  </div>
</article>